.deposit-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.deposit-form {
  background-color: rgb(23, 45, 62);
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.deposit-container input {
  height: 2.5rem;
  width: 30rem;
  margin-top: 0.5rem;
  border-radius: 0;
  border: 0;
  background-color: rgb(30, 48, 61);
  padding-left: 10px;
}

.deposit-container button {
  height: 2.5rem;
  width: 30rem;
  margin-top: 0.5rem;
  border-radius: 0;
  border: 0;
  background-color: rgb(7, 202, 141);
}

.deposit-container label {
  font-size: 14px;
}

.deposit-form button {
  margin: 0.5rem;
  height: 3rem;
  width: 8rem;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  padding-right: 40px;
  text-align: right;
}

.input-wrapper span {
  position: relative;
  right: 35px;
  top: 3px;
  pointer-events: none;
}

h3 {
  margin-top: 3rem;
}

h1 {
  margin-bottom: 3rem;
}

.b-menu {
  display: flex;
  max-width: 30rem;
  width: 100%;
}

.b-menu div {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.non-active-menu {
  background-color: rgb(30, 48, 61);
  border-style: solid;
  border-width: 0.2px;
  border-color: gray;
}

.active-menu {
  color: rgb(7, 202, 141);
  border-style: solid;
  border-width: 0.2px;
  border-color: gray;
  border-bottom-style: none;
  border-top-width: 2px;
  border-top-color: rgb(7, 202, 141);
}

.ticket-table {
  width: 100%;
  max-width: 30rem;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  cursor: pointer;
}

.modal-content textarea {
  width: 100%;
  min-width: 300px;
  height: 200px;
}

.modal-content {
  width: 100%;
  max-width: 80rem;
}

tr:hover {
  opacity: 50%;
  transition: opacity 0.2s;
}
