.trade-container {
  display: flex;
  margin: 1rem;
}

.chart-wrap {
  flex-basis: 100%;
  height: 500px;
  margin-right: 1rem;
}

.order-wrap {
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.coin-info {
  width: 100%;
  background-color: rgb(23, 45, 62);
  padding: 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.coin-info-wrap {
  width: 50%;
  font-size: 14px;
}

.coin-info-label {
  font-size: 12px;
  color: rgb(161, 161, 161);
}

.time-info {
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(23, 45, 62);
  padding: 0.7rem 1.2rem;
  font-size: 12px;
}

.time-wrap {
  display: flex;
}

.time-label {
  width: 80px;
}

.time-data {
  width: 100%;
  text-align: right;
}

.order-info {
  height: 100%;
  background-color: rgb(23, 45, 62);
  margin-top: 1rem;
  padding: 0.5rem;
}

.amount-wrap {
  display: flex;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.reset-button {
  width: 30%;
}

.control-button {
  width: 15%;
}

.control-amount {
  width: 40%;
  text-align: center;
  padding: 6px;
  background-color: rgb(47, 72, 92);
}

.long-button {
  width: 50%;
  height: 3rem;
  background-color: rgb(10, 182, 123);
  border: 0;
  border-radius: 3px;
}

.short-button {
  width: 50%;
  height: 3rem;
  background-color: rgb(225, 52, 71);
  border: 0;
  border-radius: 3px;
}

#order-amount {
  width: 70%;
  text-align: center;
}

.list-container {
  display: flex;
  margin: 1rem;
}

.past-result-wrap {
  background-color: rgb(23, 45, 62);
  height: 300px;
  width: 45%;
  margin-right: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.past-result-wrap::-webkit-scrollbar {
  display: none;
}

.past-result-wrap table {
  width: 100%;
}

.past-result-wrap td {
  text-align: center;
}

.past-order-wrap {
  background-color: rgb(23, 45, 62);
  height: 300px;
  width: 55%;
  padding: 1rem;
  overflow-y: auto;
}

.past-order-wrap::-webkit-scrollbar {
  display: none;
}

.past-order-wrap table {
  width: 100%;
}

.past-order-wrap td {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .trade-container {
    flex-wrap: wrap-reverse;
  }

  .list-container {
    flex-wrap: wrap-reverse;
  }

  .order-wrap {
    width: 100%;
  }

  .chart-wrap {
    margin: 0;
    margin-top: 1rem;
  }

  .past-order-wrap {
    width: 100%;
  }

  .past-result-wrap {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
}
